<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor de moeda real</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Conversor de Moeda</h1>
        <form action="/real_para_dolar" method="post">
            <label for="real">Valor para ser convertido(Real):</label>
            <input type="number" id="real" name="real" step="0.01" required>

            <button type="submit">Converter Moeda</button>
        </form>

        {% if resultado %}
        <div class="resultado">
            <h2>Valor em Dólar</h2>
            <p><strong>{{ resultado }}</strong></p>
        </div>
        {% endif %}
    </div>
</body>
</html>